/* Universal selector */
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    /* 상하 좌우 */
}

div {
    margin: 200px 30px;
    /* short end: 상하 좌우 */
    /* 상 우 하 좌 (위쪽부터 시계방향) */
    /* 
    margin-top: 10px;
    margin-right
    margin-bottom
    margin-left
    */
    border: 6px solid blue;
    /*  글씨두께 유형 색상 */
    border-radius: 20px;
    /* 
    border-width: 6pc;
    border-style: solid;
    border-color: blue;
    border-radius: 20px;
    */
    width: 1000px;
    padding: 100px 10px;
}

/* 태그 중복 선택 */
h2, p {
    color: brown;
}

/* clss */
.coding {
    color: red;
}

/* 부모 태그 -> class */
p.coding {
    color: purple;
}

/* ID */
/* 잘 쓰지않음 */
/* JS에서 동적으로 ID로 다루기 때문 */
#original {
    color: blue;
}

/* 부모 태그 -> 자식 태그 */
h1 p {
    color: tomato;
    background-color: red;
}


/*
content size에 padding과 테두리 포함하지 않음
div {
    box-sizing: content-box;
    width: 100px;
    padding:  5px;
}

content size에 padding과 테두리 포함함
div {
    box-sizing: border-box;
    width: 100px;
    padding:  5px;
}
=> universal selector 로 최상단에 
* {
    box-sizing: border-box;
}
선언하고 css 작업
*/

/* 
우선 순위
1. HTML 내의 style 속성
2. id로 선택된 요소
3. class로 선택된 요소
4. 태그의 이름으로 선택된 요소
*/

/* 
inline
- 한 줄에 표시
- <a>, <img>, <span>
- 태그로 감싸진 내용만큼만 영역을 차지
- width와 height로 요소의 크기를 조절할 수 없음
- inline은 좌우 margin, padding만 적용 가능
*/

/* 
block
- 개별 요소마다 줄을 바꿈
- <h1>, <p>,, <div>
- width와 height로 요소의 크기를 조절
- 내용과 별개롤 자신의 영역을 가짐
*/

/* 
inline-block
- inline과 block의 특징을 모두 포함
- 줄을 바꾸지 않음
- block처럼 width와 hieght를 가짐
- 상하 margin, padding이 레이아웃에 유효함
-> display: inline-block
*/


/* 
단위
- %: 부모의 요소에 대한 비율로 설정
- em: 부모 요소의 폰트 크기 
- rem: 루트 요소의 폰트 크기 -> 사용권장-일정한 기준을 두고 크기 선택
*/

html {
    font-size: 10px;
}

div.outer{
    /* view width/  view height */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* 
    scroll;
    auto; -> 굿굿

    overflow-x: scroll;
    overflow-y: scroll;    
    */
    background-image: url(skku_s.png);
    background-repeat: no-repeat; /* 반복 없이 사진 한개로만 채움 */
    background-size: contain; 
    /* cover/contatin/fill */
    background-position: center;

    
}

div.inner {
    width: 20rem;
    background-color: linen;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
    /* 
    object-fit: 일단 이미지를 부모요소의 가운데로 정렬 
    cover; 이미지를 부모 요소의 영역의 크기 만큼 확대/축소하여 채움
    contain; 이미지의 비율을 유지하면서 부모 요소를 채움 -> 공백있을 수도/ 너비나 높이 둘중 하나만 꽉차면 멈춤
    fill; 이미지 비율을 유지하지 않고 부모 요소의 크기에 맞게 변경하여 채움
    */
}

/* font-style: italic */
/* font-weight: 
    number or
    Thin ~ Normal ~ Bold ~Black
*/
/* text-decoration: underline */

/* href의 파란색/밑줄 제거 */
a {
    text-decoration: none; /* 밑줄 제거 */

}
a:link { /*클릭한 적이 없는 링크*/
    color: black;
}
a:visited{ /*방문했던 링크*/
    color: black;
}
/* cascade로 인해 위 두 정의의 순서를 지키는 것이 좋음 */

div.pink {
    background-color: pink;
}
div.blue {
    background-color: blue;
    position: sticky;
    top: 0;
}

div.pink, div.blue{
    width: 50px;
    height: 50px;
    float: left;
    /* right/ */
}
div.green{
    width: 50px;
    height: 50px;
    background-color: green;
    clear: left;
}

/* CLearfix */
/* header 아래에 요소가 올라오는 것을 막아줌 -> header를 다른 요소로 변경할 수 있음 */
header::after {
    content: "";
    display: block;
    clear: both;
}

/* Flexbox  */
/*
flex contatiner: {display: flex} 를 선언한 부모 요소
flex item: flex container의 자식 요소.(배치를 원하는 요소)
main axis: 가로(row)배치의 주축; 세로(column)의 보조축
cross axis: 세로(column)배치의 주축; 가로(row)배치의 보조축
*/

div.flex_red {
    background-color: red;
}
div.flex_blue {
    background-color: blue;
}
div.flex_green {
    background-color: green;
}

div.flexbox {
    display:flex;
    justify-content: space-between;
}
div.flex_red, div.flex_blue, div.flex_green {
    width: 50px;
    height: 50px;
}

/* position */
/* 
static
relative - 원래위치를 기준으로 얼마나 움직일지 설정
absolue - 가장 가까운 부모를 기준으로 얼마나 움직일지 설정
fixed - 브라우저 창을 기준으로 고정된 위치
sticky - 스크롤로 특정 위치에 도달하면 고정됨
*/